/* This is the native select, we're making everything but the text invisible so we can see the button styles in the wrapper */
.xq-select select {
  width: 100%;
  margin: 0;
  box-shadow: none;
  background: none;
  border: 1px solid transparent;
  outline: none;
  /* Prefixed box-sizing rules necessary for older browsers */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Remove select styling */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Font size must the 16px or larger to prevent iOS page zoom on focus */
  font-size: 1em;
}
.has-warning .xq-select select,
.has-error .xq-select select,
.required .xq-select select,
.has-success .xq-select select {
  border-color: transparent !important;
}
.xq-select select[disabled],
.xq-select select[readonly],
fieldset[disabled] .xq-select select {
  background-color: #eeeeee;
  opacity: 1;
}
.xq-select select[disabled],
fieldset[disabled] .xq-select select {
  cursor: not-allowed;
}
.xq-select select option {
  padding: 6px 12px;
  color: #555555;
  text-shadow: none;
}
.xq-select select option span {
  color: #777777;
  text-shadow: none;
}
.xq-select select option[disabled] {
  cursor: not-allowed;
  color: #777777;
  opacity: 1;
}
.xq-select select optgroup {
  border-top: 1px solid #ccc;
  color: #2f2f2f;
  padding: 6px 12px;
  margin: 0;
  text-shadow: none;
}
.xq-select select optgroup option {
  margin: 0px -12px;
  padding: 6px 12px;
}
.xq-select select optgroup option:first-child {
  margin-top: 3px;
}
/* Focus style */
.xq-select select:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
  color: #222;
  border: 1px solid transparent;
}
/* Automatic Fallback if Using Modernizr or xqDetect */
.no-js .xq-select select option,
.no-js .xq-select select optgroup {
  display: block !important;
}
.xq-select {
  position: relative;
  display: block;
  padding: 0;
  border: 1px solid #ccc;
  background-color: #fff;
}
.xq-select:hover {
  border-color: #b3b3b3;
}
.required .xq-select {
  border-color: rgba(66, 139, 202, 0.3);
}
.required .xq-select:hover {
  border-color: rgba(66, 139, 202, 0.6);
}
.has-error .xq-select {
  border-color: #d9534f;
}
.has-error .xq-select:hover {
  border-color: #c9302c;
}
.has-warning .xq-select {
  border-color: #f0ad4e;
}
.has-warning .xq-select:hover {
  border-color: #ec971f;
}
.has-success .xq-select {
  border-color: #5cb85c;
}
.has-success .xq-select:hover {
  border-color: #449d44;
}
.xq-select select {
  /* Make sure the select is behind the faux select */
  position: relative;
  z-index: 1;
}
.xq-select::after {
  display: inline-block;
  font-size: inherit;
  font-family: sans-serif;
  line-height: 1.42857143;
  content: "\0025BE";
  background-color: transparent;
  border-left: 1px solid #ccc;
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: 0;
  padding: 1px 5px;
  z-index: 2;
  /* This hack make the select behind the arrow clickable in some browsers */
  pointer-events: none;
}
.required .xq-select::after {
  border-left-color: rgba(66, 139, 202, 0.3);
}
.has-error .xq-select::after {
  border-left-color: #d9534f;
  color: #d9534f;
}
.has-warning .xq-select::after {
  border-left-color: #f0ad4e;
  color: #f0ad4e;
}
.has-success .xq-select::after {
  border-left-color: #5cb85c;
  color: #5cb85c;
}
.xq-select button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 3;
}
.xq-select-dropdown {
  background-color: #fff;
  color: #555555;
  border-color: #66afe9;
  min-width: 100% !important;
  max-width: 100% !important;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1060;
}
.xq-select-dropdown > li > a {
  cursor: pointer;
}
.xq-select-dropdown > li > a span {
  color: #777777;
  margin-left: 10px;
  text-shadow: none;
}
.xq-select-dropdown .optgroup {
  color: #2f2f2f;
  font-weight: normal;
  text-shadow: none;
  padding: 6px 20px 3px 20px;
  border-top: 1px solid #777777 !important;
}
.xq-select-dropdown .xq-select-item.focus {
  outline: none;
}
.xq-select-dropdown .xq-select-item.selected::before {
  display: inline-block;
  font-size: inherit;
  font-family: sans-serif;
  content: "\002713";
  background-color: transparent;
  position: relative;
  margin-left: -15px;
  margin-right: 5px;
}
.xq-select-dropdown .xq-select-item.disabled {
  color: #777777;
  cursor: not-allowed;
}
/* ------------------------------------  */
/* START OF UGLY BROWSER-SPECIFIC HACKS */
/* ----------------------------------  */
/* OPERA - Pre-Blink nix the custom arrow, go with a native select button to keep it simple. Targeted via this hack http://browserhacks.com/#hack-a3f166304aafed524566bc6814e1d5c7 */
x:-o-prefocus,
.xq-select::after {
  display: none;
}
/* IE 10/11+ - This hides native dropdown button arrow so it will have the custom appearance, IE 9 and earlier get a native select - targeting media query hack via http://browserhacks.com/#hack-28f493d247a12ab654f6c3637f6978d5 - looking for better ways to achieve this targeting */
/* The second rule removes the odd blue bg color behind the text in the select button in IE 10/11 and sets the text color to match the focus style's - fix via http://stackoverflow.com/questions/17553300/change-ie-background-color-on-unopened-focused-select-box */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .xq-select select::-ms-expand {
    display: none;
  }
  .xq-select select:focus::-ms-value {
    background: transparent;
    color: #222;
  }
}
/* Firefox focus has odd artifacts around the text, this kills that. See https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-focusring */
.xq-select select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
/* ------------------------------------  */
/*  END OF UGLY BROWSER-SPECIFIC HACKS  */
/* ------------------------------------  */
