@import "variables";
@import "mixins";

// Container used for styling the custom select, the button class below adds the bg gradient, corners, etc.
.xq-select-wrapper {
  position:         relative;
  display:          flex;
  padding:          0;
  margin:           0;
  border:           none;
  background-color: transparent;
  > select.xq-select {
    // Make sure the select is behind the faux select
    position: relative;
    z-index:  $native-select-zindex;
  }
  // The clickable, semi-invisible button for opening dropdown
  > button {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: transparent !important; // Protect against inheritance making this visible.
    opacity: 0.0;
    border-radius: $custom-select-border-radius;
    z-index: $native-select-zindex + 3;
    // Focus Styles - Receives the tabindex via JS, thus can show focus.
    &:focus {
      opacity: 1; // Must change opacity otherwise it's invisible!
      border-color: $custom-select-focus-border-color;
      outline: none;
      box-shadow: $custom-select-focus-box-shadow;
      &::-ms-value {
        // Suppress focus highlight in Edge/IE
        color: $custom-select-color;
        background-color: $custom-select-bg;
      }
    }
  }
  > .dropdown-menu {
    // Color the same as select
    background-color: $custom-select-bg;
    color: $custom-select-color;
    // Occupy Same Space as Offset Borders
    min-width: 100%;
    position: absolute;
    left: (0 - $custom-select-border-width);
    right: (0 - $custom-select-border-width);
    max-height: $dropdown-max-height;
    // Scroll properly if too big
    overflow-y: scroll;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    // Stay above other items
    z-index: $custom-select-zindex;
    > li > a {
      cursor: pointer;
      padding: ($custom-select-padding-y / 2) $custom-select-padding-x;
      &:focus {
        outline: dotted $custom-select-focus-border-color 1px;
      }
      &.disabled {
        color: rgba($custom-select-disabled-color, .5);
        cursor: $cursor-disabled;
      }
      &.selected {
        // We're not using shorthand here because it would override the background color.
        background-image: inline-svg($custom-select-check);
        background-repeat: no-repeat;
        background-size: ($custom-select-padding-x/2);
        background-position: ($custom-select-padding-x/4) center;
      }
      > span {
        opacity: .7;
        font-size: 90%;
        margin-left: $custom-select-padding-x;
        text-shadow: none;
      }
    }
    // Faux Optgroup Display
    .optgroup {
      color: darken($custom-select-color, 15%);
      font-weight: $font-weight-medium;
      text-shadow: none;
      padding: ($custom-select-padding-y + .25rem) $custom-select-padding-x $custom-select-padding-y $custom-select-padding-x;
      border-top: 1px dotted $custom-select-border-color !important;
    }
    .xq-filtered {
      display: none !important;
    }
  }
  // Filter
  > .dropdown-menu:focus-within + .xq-filter {
    opacity: 1;
  }
  .xq-filter {
    background-color: $custom-select-bg;
    color: $input-color;
    opacity: 0;
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    border: none;
    width: calc(100% - 3rem);
    box-shadow: none;
    z-index: $native-select-zindex + 2;
    padding: $input-btn-padding-y $input-btn-padding-x;
    &:not(:placeholder-shown) {
    }
    &:focus {
      outline: 0 !important;
      box-shadow: none !important;
      border-color: transparent !important;
      opacity: 1 !important;
    }
  }
}

.touch .xq-select-wrapper {
  > .dropdown-menu {
    > li > a {
      padding: $custom-select-padding-y $custom-select-padding-x;
    }
  }
}