@import "variables";
@import "mixins";

// This is the native select, we're making everything but the text invisible so we can see the button styles in the wrapper
select.xq-select {
  // Sizing & Spacing
  flex: 1 0 auto;
  max-width: 100%;
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0 $custom-select-padding-x*2 0 $custom-select-padding-x;
  height: $custom-select-height;
  // Color & Arrow
  color: $custom-select-color;
  background: $custom-select-bg inline-svg($custom-select-indicator) no-repeat right $custom-select-padding-x center;
  appearance: none; // Remove select styling
  // Other Appearance
  @include border-and-shadow;
  &::-ms-expand {
    opacity: 0; // Hides native caret in IE (Note: Pre IE10 will see NO arrow)
  }
  &:-moz-focusring {
    color: transparent;       // Kills odd artifacts around text in Firefox focus
    text-shadow: 0 0 0 #000;  // https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-focusring
  }
  // Focus Styles
  &:focus {
    border-color: $custom-select-focus-border-color;
    outline: none;
    box-shadow: $custom-select-focus-box-shadow;
    &::-ms-value {
      // Suppress focus highlight in Edge/IE
      color: $custom-select-color;
      background-color: $custom-select-bg;
    }
  }
  // Disabled Styles
  &:disabled, fieldset[disabled] &, &[read-only] {
    color: $custom-select-disabled-color;
    background-color: $custom-select-disabled-bg;
    opacity: 1; // iOS fix for unreadable disabled content; see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input#Browser_compatibility

  }
  &:disabled, fieldset[disabled] {
    cursor: $cursor-disabled;
  }
  // Options
  > option {
    color: $custom-select-color;
    text-shadow: none;
    span {
      color: rgba($custom-select-color, .7);
      text-shadow: none;
    }
  }
  // Optgroups
  > optgroup {
    border-top: 1px solid $custom-select-border-color;
    color: darken($custom-select-color, 15%);
    padding: $custom-select-padding-y $custom-select-padding-x;
    margin: 0;
    text-shadow: none;
    > option {
      margin: 0 -$custom-select-padding-x;
      padding: $custom-select-padding-y $custom-select-padding-x;
      &:first-child {
        margin-top: .25rem;
      }
    }
  }
}

// OPERA - Pre-Blink nix the custom arrow, go with a native select button to keep it simple.
// Targeted via this hack http://browserhacks.com/#hack-a3f166304aafed524566bc6814e1d5c7
x:-o-prefocus, select.xq-select {
  background-image: none;
}
