@import "variables";

// This is the native select, we're making everything but the text invisible so we can see the button styles in the wrapper
.xq-select select {
  // Sizing
  flex: 1 0 100%;
  max-width: 100%;
  margin: 0;
  box-sizing: border-box;
  // Color
  box-shadow: none;
  background: none;
  border: 1px solid transparent;
  outline: none;
  // Remove select styling
  appearance: none;
  // Font size must the 16px or larger to prevent iOS page zoom on focus
  font-size: 1em;
  .has-warning &, .has-error &, .has-required &, .has-success & {
    border-color: transparent !important;
  }
  &[disabled], &[readonly], fieldset[disabled] & {
    background-color: $input-bg-disabled;
    opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
  }
  &[disabled], fieldset[disabled] & {
    cursor: $cursor-disabled;
  }
  option {
    padding: $padding-base-vertical $padding-base-horizontal;
    color: $input-color;
    text-shadow: none;
    span {
      color: $text-muted;
      text-shadow: none;
    }
    &[disabled] {
      cursor: $cursor-disabled;
      color: $gray-light;
      opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
    }
  }
  optgroup {
    //display: none !important;
    border-top: 1px solid $input-border;
    color: darken($input-color, 15%);
    padding: $padding-base-vertical $padding-base-horizontal;
    margin: 0;
    text-shadow: none;
    option {
      margin: 0 -$padding-base-horizontal;
      padding: $padding-base-vertical $padding-base-horizontal;
      &:first-child {
        margin-top: 3px;
      }
    }
  }
}

// Focus style
.xq-select select:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
  color: darken($input-color, 10%);
  border: 1px solid transparent;
}

@if $enable-fallback {
  .xq-select select {
    // Sizing
    width: 100%;
    // Prefixed box-sizing rules necessary for older browsers
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
}

// Automatic Fallback if Using Modernizr or xqDetect
@if $enable-feature-detection {
  .no-js {
    .xq-select {
      select {
        option, optgroup {
          display: block !important;
        }
      }
    }
  }
}
